
.banner{
    /* background-color :rgb(196, 180, 37); */
    background-color: rgba(170, 211, 21, 0.993);
}

.content{ 
    
    text-align: left;
}



.image_section{ 
    position: relative; 
    text-align: center;
    margin-bottom: 5px;
}

.AppImage{
  
    width: 80%;
}

/* Top right text */
.image_section--top-right {
position: absolute;
top: 10px;
right: 140px;
font-weight: bold;
}

.img-text{
    max-width : 400px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex : 1 1 auto;
    border: 1px;
}

.online-dance-img{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHJcXUdS7y0M4dyPDQoQr3TZCaEU9roFUj6w&usqp=CAU);
   
}

.premise-drummer-img{
    background-image: url(https://fonzibadrums.com/images/home1.jpg);
   
}

.mentor-img{
    background-image: url(https://image.shutterstock.com/image-vector/mentoring-chart-keywords-icons-sketch-600w-374733457.jpg);
  
}
