.header {
  padding: 0;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.navbar {
  /* background-color: green; */
  background-color: rgb(3, 29, 28);
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0px 7px 7px -6px rgba(0, 0, 0, 0.5);
}

.navbar ul {
  flex: 1;
  font-size: 30px;
  text-align: right;
  padding: 5px;
  margin-bottom: 0%;
}
.navbar ul li {
  display: inline-block;
  margin: 10px 5px 5px 5px;
  font-size: 15px;
  align-items: center;
}
.logo {
  font-size: 40px;
  color: whitesmoke;
}
.mobile-list {
  display: none;
}

@media only screen and (max-width: 800px) {
  body {
    margin: 60px;
  }
  .navbar .desktop-list {
    display: none;
  }
  .mobile-list {
    background-color: rgb(2, 23, 66);
    font-size: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 100;
  }
  .mobile-list i {
    font-size: 7vmin;
    color: whitesmoke;
    cursor: pointer;
  }
}
