/* .header {
  padding: 0;
} */

a {
  text-decoration: none;
  color: whitesmoke;
}

/* .logo {
  font-size: 40px;
  color: whitesmoke;
} */
.mobile-list {
  display: none;
}

@media only screen and (max-width: 800px) {
  body {
    margin: 60px;
  }
  .navbar .desktop-list {
    display: none;
  }
  .mobile-list {
    background-color: rgb(2, 23, 66);
    font-size: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 100;
  }
  .mobile-list i {
    font-size: 7vmin;
    color: whitesmoke;
    cursor: pointer;
  }
}
